{% extends base_template %}
{% load i18n staticfiles %}
{% block download_active %}active{% endblock download_active %}
{% block title %}{% trans "Install KA Lite woooo" %}{{ block.super }}{% endblock title %}

{% block headcss %}
<style>

    .install-scenario, .install-scenario-short-description {
        float: left;
        width: 32%;
    }

    .install-scenario {
        text-align: center;
    }

    .install-scenario-short-description div {
        padding: 10px 15% 10px 20px;
        color: black;
    }

    .install-scenario img {
        width: 80%;
        cursor: pointer;
    }

    .install-scenario img {
        opacity: 0.8;
    }

    .install-scenario img:hover {
        opacity: 1.0;
    }

    .centered-title {
        text-align: center;
    }

    .content-block {
        width: 100%;
    }

    .content-block-hidden {
        display: none;
    }

    .examples-toggle {
        cursor: pointer;
    }

    .examples-box {
        display:none;
        position: absolute;
        left: 200px;
        top: 200px;
        width: 1200px;
        background-color: white;
        border: 5px dashed black;
    }
    .example {
        width: 400px
        margin: 25px;
        float: left;
    }
    .centered {
        text-align: center;
    }

    .form-horizontal {
        margin-top: 50px;
        margin-bottom: 50px;
    }
</style>
{% endblock headcss %}

{% block headjs %}
<script>

    $(function() {

        $(".install-scenario img").click(function() {
            // highlight the clicked image, and de-emphasize the others
            $(this).css("width", "120%").css("opacity", "1");
            $(".install-scenario img").not(this).css("opacity", "0.4").css("width", "50%");

            // hide the current content block, and show the newly selected one
            var new_content_block = $("#" + $(this).attr("for"));
            $(".content-block").hide();
            new_content_block.show();

        });

        $(".examples-toggle").click(function() {
            var example_set = $(this).attr("value");
            var this_box = $("#examples-" + example_set);

            $(".examples-box").not(this_box).hide();
            this_box.toggle();
        });
//href="javascript:$('#personal-examples').toggle();"            foreach(function(){this.hide();})
    });

</script>
{% endblock headjs %}

{% block content %}
    <h1 class="centered-title">Download KA Lite: Which of these 3 scenarios best describes your needs?</h1>

    <br/>

    <div class="install-scenario">
        <img src="{% static 'images/central/install/1-standalone.png' %}" for="scenario-1">
    </div>

    <div class="install-scenario">
        <img src="{% static 'images/central/install/2-single-server.png' %}" for="scenario-2">
    </div>

    <div class="install-scenario">
        <img src="{% static 'images/central/install/3-multi-server.png' %}" for="scenario-3">
    </div>

    <div style="clear: both"></div>

    <div class="content-block">
        <div class="install-scenario-short-description">
            <div>
                <h2 class="centered-title">Personal Edition</h2>
                <ul>
                    <li>Install KA Lite directly to a single device for offline use.</li>
                </ul>

                <div class="centered">
                    <a class="examples-toggle" value="personal">Who does this?</a>
                </div>
                <div class="examples-box" id="examples-personal">
                    <div class="example">
                        <h2>Jenny uses hers on her Android device</h2>
                        <img src="http://placehold.it/350x150">
                    </div>
                    <div class="example">
                        <h2>Matt uses his on his laptop, on a boat</h2>
                        <img src="http://placehold.it/350x150">
                    </div>
                </div>

            </div>
        </div>
        <div class="install-scenario-short-description">
            <div>
                <h2 class="centered-title">Classroom Edition</h2>
                <ul>
                    <li>Install KA Lite to an offline server, for multiple client devices to connect to.</li>
                </ul>

                <div class="centered">
                    <a class="examples-toggle" value="classroom">Who does this?</a>
                </div>
                <div class="examples-box" id="examples-classroom">
                    <div class="example">
                        <h2>A classroom with no syncing</h2>
                        <img src="http://placehold.it/350x150">
                    </div>
                    <div class="example">
                        <h2>A classroom with remote data and backups</h2>
                        <img src="http://placehold.it/350x150">
                    </div>
                </div>

            </div>
        </div>

        <div class="install-scenario-short-description">
            <div>
                <h2 class="centered-title">School Edition</h2>
                <ul>
                    <li>Larger multi-server deployment, with options for syncing data between servers.</li>
                </ul>

                <div class="centered">
                    <a class="examples-toggle" value="school">Who does this?</a>
                </div>
                <div class="examples-box" id="examples-school">
                    <div class="example">
                        <h2>Blah</h2>
                        <img src="http://placehold.it/350x150">
                    </div>
                    <div class="example">
                        <h2>A different blah</h2>
                        <img src="http://placehold.it/350x150">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div style="clear: both;"></div>

    <br/>

    {# Scenario 1 -- Personal Edition #}
    <div class="content-block content-block-hidden" id="scenario-1">
        <div class="row">
            <div class="span12 centered">
            <h1>KA Lite Personal Edition</h1>
            </div>
        </div>
        <div class="row">
            <div class="span3"></div>
            <div class="span6">
                <p>You're almost there! Just fill out the form below and choose a download option to get started using KA Lite!</p>
                {# Options Form #}
                <form class="form-horizontal">
                  <!--div class="control-group">
                    <label class="control-label" for="inputName">Name</label>
                    <div class="controls">
                      <input type="text" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputEmail">Email</label>
                    <div class="controls">
                      <input type="text" id="inputEmail" placeholder="Email">
                    </div>
                  </div-->
                  <div class="control-group">
                    <label class="control-label" for="inputOS">Operating System</label>
                    <div class="controls">
                      <select id="inputOS">
                        {# Could detect this, but do we want to? #}
                          <option>Windows</option>
                          <option>Mac</option>
                          <option>Linux</option>
                          <option>Raspian</option>
                          <option>Android</option>
                        </select>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="inputCountry">Country</label>
                    <div class="controls">
                        <select id="inputCountry">
                            {% for country in country_list %}
                                <option value="{{ country.code }}" {% if country.code == record.country_code %}selected{% endif %}>{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label" for="inputLanguage">Language(s)</label>
                    <div class="controls">
                      <select id="inputLanguage" multiple="multiple">
                          <option>Lanugage One</option>
                          <option>Lanugage Two</option>
                          <option>Lanugage 99</option>
                          <option>(seewhatididthere)</option>
                      </select>
                      <span class="help-block">Use CTRL + select to pick more than one.</span>
                    </div>
                  </div>
                </form>

                <div class="control-group">
                  <p>KA Lite is always free, but we need your financial support to support
                  important content and software updates.</p>

                  <p>
                  An average donation of $5 could help
                  us sustain this project.</p>
                  <div class="row">
                    <div class="span3"></div>
                    <div class="span6 centered">
                        <p><a href="#" class="button--large">Donate &amp; Download</a></p>
                        <p>&nbsp;</p>
                        <p><a href="#" >No thanks, just Download</a></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div> {# END Scenario 1 -- Personal Edition #}

    {# Scenario 2 -- Classroom Edition #}
    <div class="content-block content-block-hidden" id="scenario-2">

        {# Option 2 -- classroom edition / single server & multiple users #}
        <div class="row">
            <div class="span12">
                <h1>KA Lite Classroom Edition</h1>
            </div>
        </div>
        <div class="row">
            {# Do you really want option 1? #}
            <div class="span6">
                <h3>Option 1: One-click Install Classroom Edition</h3>
                <img src="http://placehold.it/350x150">
                <p>If you just need KA Lite to work for you and your learners, and you don't think you'll ever need our advanced features like viewing usage statistics online, administering user accounts online, retrieving data backups online, then this is the option for you!</p>
                <p>This type of installation is most popular with:</p>
                <ul>
                    <li>Groups installing KA Lite in offline communities that they won't return to</li>
                    <li>Others?</li>
                </ul>
                {# Starts the download or could be a modal popup box to prompt a donation?       #}
                <p><a href="#" class="button--large">Download Now!</a></p>
            </div>
            {# Or do you want option 2? #}
            <div class="span6">
                <h3>Option 2: Syncing Classroom Edition</h3>
                <img src="http://placehold.it/350x150">
                <p>This option allows you to take advantage of our suite of online tools for managing your installations. With the Syncing Edition, from our online portal, you can administer user accounts, sync data from the installation and view it online, and backup your data online.</p>
                <p>This type of installation is most popular with:</p>
                <ul>
                    <li>??</li>
                    <li>Others?</li>
                </ul>
                {# Takes you to the download wizard #}
                <p><a href="#" class="button--large">Show me my options</a></p>
            </div>
        </div>
    </div>{# END Option 2 -- classroom edition / single server & multiple users #}

    {# Option 3 -- multiple servers #}
    <div class="content-block content-block-hidden" id="scenario-3">

        <div class="row">
            <div class="span12">
                <h1>KA Lite Pomelo Edition</h1>
            </div>
        </div>
        <div class="row">
            {# Do you really want option 1? #}
            <div class="span12">
                <img src="http://placehold.it/350x150">
                <p>KA Lite Pomelo edition allows you to access all of our online tool suite, allowing you to track engagement with your installation when it syncs data, administer accounts online, and do other cool stuff.</p>
                <p>This type of installation is most popular with:</p>
                <ul>
                    <li>Organizations working in offline communities that need reporting data on their project</li>
                </ul>
                {# Starts the download or could be a modal popup box to prompt a donation?       #}
                <p><a href="#" class="button--large">Show me the options!</a></p>
            </div>
        </div>
    </div> {# END Option 3 -- multiple servers #}

    <br/>

{% endblock content %}